
<nav class="navbar navbar-inverse navbar-fixed-top">
  <h1 class="page-title"><%= link_to 'Feature Flags', admin_features_path %></h1>
</nav>

<table>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <th><%= link_to feature.code, admin_feature_path(feature) %></th>
        <td><%= feature.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>