
<div class="header clearfix">
  <h1><%= link_to 'Feature Flags', admin_features_path %></h1>
</div>

<div class="row">
  <% @features.each do |feature| %>
    <div class="col-md-6">
      <h4><%= link_to feature.code, admin_feature_path(feature) %></h4>
      <p><%= feature.description %></p>
    </div>
  <% end %>

</div>