<!DOCTYPE html>
<html>
<head>
  <title>GreenFlag</title>
  <%= stylesheet_link_tag    "green_flag/application", :media => "all" %>
  <%= javascript_include_tag "green_flag/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
